<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="ru" lang="">
<head>
    <title>Fuck</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1 th:text="'Поздравляем, ' + ${username} + '!' + ' Вы успешно зарегистрировались!'">
        Поздравляем, {username}! Вы успешно зарегистрировались!
    </h1>

    <form action="/auth" method="get">
        <div>
            <br>
            <button type="submit">Авторизироваться</button>
            </br>
        </div>
    </form>
</body>
</html>